*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    display: flex;
    margin: 0;
    background-color: #F7F2FF;
    align-items: center;
    justify-content: center;
}

.maingame {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genius {
    display: grid;
    grid-template-areas: 'green red'
    'yellow blue';
    grid-gap: 6px;
    background-color: #F7F2FF;
    border-radius: 100%;
    width: 46rem;
    height: 46rem;
    margin-bottom: 9%;
}

.display{
    display: flex;
    position: absolute;
    top: 15px;
    left: 15px;
    height: 50px;
    width: 210px;
    background-color: #E4D1FF;
    border: 1px solid #7A50B8;
    border-radius: 0.5rem;
}

.text{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid #7A50B8;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    color: #31145A;    
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;    
}

.contador {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid #7A50B8;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;   
    color: #31145A;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.nextleveldisplay {
    position: absolute;
    width: 35rem;
    height: 15rem;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    display: flex;
    background-color: #E4D1FF;
    border: 2px solid #7A50B8;
    background-color: #E4D1FF;
    border: 2px solid #7A50B8;
}

.gameoverdisplay {
    position: absolute;
    width: 35rem;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.6rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E4D1FF;
    border: 2px solid #7A50B8;
}

.text1 {
    position: absolute;
    top: 4rem;
    font-size: 2.6rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #31145A;
}

.text2 {
    position: absolute;
    top: 4rem;
    font-size: 2.6rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #31145A;
}

.buttonnext {
    position: absolute;
    bottom: 1rem;
    display: flex;
    width: 6rem;
    height: 3rem;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    border-radius: 0.3rem;
    background-color: #CCA8FF;
    border: 2px solid #7A50B8;
    color: #31145A;
}

.buttonrestart {
    display: flex;
    width: 6rem;
    height: 3rem;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    border-radius: 0.3rem;
    position: absolute;
    bottom: 1rem;
    left: 5rem;
    background-color: #CCA8FF;
    border: 2px solid #7A50B8;
    color: #31145A;
}

.buttonend {
    display: flex;
    width: 6rem;
    height: 3rem;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    border-radius: 0.3rem;
    position: absolute;
    bottom: 1rem;
    right: 5rem;
    background-color: #CCA8FF;
    border: 2px solid #7A50B8;
    color: #31145A;
}

.buttonstart {
    display: flex;
    position: absolute;
    bottom: 6rem;
    height:3.6rem;
    width: 7rem;
    background-color: #E4D1FF;
    border: 2px solid #7A50B8;
    color: #31145A;
    border-radius: 0.5rem;
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif ;
    align-items: center;
    justify-content: center;
}

.green {
    background-color: #CDFF9E;
    grid-area: green;
    border-top-left-radius: 100%;
    border: 3px solid #A763FF;
}

.yellow {
    background-color: #FFD896;
    grid-area: yellow;
    border-bottom-left-radius: 100%;
    border: 3px solid #A763FF;
}

.red {
    background-color: #FFC4CA;
    grid-area: red;
    border-top-right-radius: 100%;
    border: 3px solid #A763FF;
}

.blue {
    background-color: #A7FFED;
    grid-area: blue;
    border-bottom-right-radius: 100%;
    border: 3px solid #A763FF;
}

.selected {
    opacity: 0.4;
}

.hide {
    display: none;
}

.btn:hover {
    filter: brightness(0.85);
}

.btn {
    cursor: pointer;
}